<div class="list-container">
    <h2>View All Candidates</h2>
    <table class="candidate-table">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Applied For</th>
        <th>Remarks</th>
      </tr>
      <tr *ngFor="let candidate of candidates">
        <td>{{ candidate.fullName }}</td>
        <td>{{ candidate.email }}</td>
        <td>{{ candidate.contactNumber }}</td>
        <td>{{ candidate.appliedFor }}</td>
        <td>{{ candidate.remarks }}</td>
      </tr>
    </table>
  </div>
  